SISKP_BASE_URL=https://siskp.informatika.ft.ung.ac.id/masuk/jadwal
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
MY_NAME=
MY_NIM=
CHECK_NEXT_MONTH=true
STORAGE_PATH=data/sent_schedules.json
TIMEZONE=Asia/Makassar
