SISKP_BASE_URL=https://siskp.informatika.ft.ung.ac.id/masuk/jadwal
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
MY_NAME=
MY_NIM=
CHECK_NEXT_MONTH=true
STORAGE_PATH=data/sent_schedules.json
TIMEZONE=Asia/Makassar
SEND_NO_UPDATE_NOTIFICATION=false
NO_UPDATE_NOTIFICATION_EVERY_RUN=false
HEARTBEAT_INTERVAL_MINUTES=60
HEARTBEAT_STATE_PATH=data/heartbeat_state.json
